.header__nav-link {
    color: #fff;
    width: 150px;
    padding: 10px;
    text-decoration: none;
    height: 50px;
    display: block;
    text-align: center;
    align-items: center;
}
.active {
    background-color: #3530c0;
}